<div class="col-md-12 col-xl-6" style="padding-right: 0;">
    <div class="row" style="margin: auto; margin-bottom: 12px; border-radius: 8px; padding: 5px; background: #494949; cursor: pointer;" {{action 'clicked' on="click"}}>
        <div class="col-xs-4 text-center" style="padding: 0;">
            <img class="movie-list-img" src="http://image.tmdb.org/t/p/w342/{{unbound movie.poster_path}}" alt="{{movie.title}}"/>
        </div>
        <div class="col-xs-8" style="padding: 0; padding: 0 10px;">
            <span style="font-size: 24px; color: #e1e1e1;">
                {{movie.title}}<span class="movie-list-title"> ({{moment-format movie.release_date "Y"}})</span>
            </span>
            <hr style="padding: 0px; margin: 0px; background: #c1c1c1;"/>
            <p class="movie-list-overview">{{movie.overview}}</p>
            <span class="movie-list-rating">
                {{movie.vote_average}} / 10
            </span>
        </div>

    </div>
</div>
