<div class="col-xs-6" style="margin-bottom: 20px;">
    <div class="row" style="background: #c1c1c1; margin: 2px; padding: 5px;  cursor: pointer;" {{action 'clicked' on="click"}}>
        <div class="col-xs-4">
            <img width="100%;" src="http://image.tmdb.org/t/p/w185/{{unbound movie.poster_path}}" alt="{{movie.title}}" style="box-shadow: 5px 5px 5px #888888;" />
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div style="color: #393939; text-decoration: underline;">
                    <h2>{{movie.title}}</h2>
                </div>
            </div>
            <div class="row"  style="max-height: 230px;">
                <h3 style="color: #393939;  overflow: hidden; display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical;">{{movie.overview}}</h3>
            </div>
            <div class="row" style="color: #393939; position: absolute; bottom: 0; right: 20px;">
                <h3>Rating: {{movie.vote_average}} / 10</h3>
            </div>
        </div>
    </div>
</div>
