
<div class="col-xs-6" style="padding: 20px; margin-bottom: 30px;">
    <div style="background: #454545; padding: 10px">
        <div class="card text-center" style=" border: none;">
        <div class="card-header" style="background: #393939; color: #a1a1a1;">
            {{project.name}}
        </div>
        <div class="card-block">
            <img class="card-img-top" src="/assets/images/{{project.image}}" alt="Card image cap" width="350px" height="350px"/>
        </div>
        <div class="card-block">
            <div class="card-title projects-tech-list" >
                <ul class="techsList"  style="background: #393939;">
                    {{#each project.techs as |tech|}}
                        <li style="width: 25%">{{tech}}</li>
                    {{/each}}
                </ul>
            </div>
            <p class="card-text" style="margin: 0; background: #393939; color: #c1c1c1;">{{project.description}}</p>
            <div style="padding-bottom: 5px; background: #393939;" >
                {{#link-to project.navigation tagName='a' class='btn btn-primary' isVisibleBinding=isNavigationVisible}}
                    Check It Out
                {{/link-to}}
            </div>
        </div>
        <div class="card-footer text-muted" style="background: #393939; border-top: 1px solid #f1f1f1;">
            {{project.yearCreated}}
        </div>
    </div>

    </div>
</div>
